html {
  scroll-behavior: smooth;
}
.main {
  /* background-color: #F0EFF4; */
  background-image: url("https://github.com/sjs5953/keep-calm-and-travel-on/blob/master/frontend/src/assets/img/bg7.jpg?raw=true");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  margin:0;
  /* font-family: 'Permanent Marker' ; */
/* font-family: 'Knewave'; */
}

.header {
  background-color: #ebdfe0;
}

.dnd-context {
  position:fixed;
  right:2vw;
  width:78vw;
  display: flex;
  height: 100%; 
  flex-direction: column
}

.days-container {
  /* background: linear-gradient(to left, #70adf2, #ff9472); */
  /* border-top-left-radius: 15px; */
  /* background-color: #a0a0a0 ; */
  background:transparent;
  color:white;
  height: 48vh;
  position:fixed;
  right:2vw;
  top:16vh;
  display: flex;
  flex-direction: row;
  width: 78vw;
  max-width: 78vw;
  overflow-y: hidden;
  overflow-x: hidden auto;
}

/* width */
.days-container::-webkit-scrollbar {
  width: 10px;
 
}
/* Track */
.days-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius:5px;
}
/* Handle */
.days-container::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136,0.4);
  border-radius:5px;
}
/* Handle on hover */
.days-container::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85,0.8);
  width:10px;
}

.column-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-name {
  margin:12px;
  font-weight: bold;
}

.delete-list {
  background-color: rgb(225, 0,0,0.3);
  border: 0;
}

.column-container {
  display: flex;
  flex-Direction: column;
  align-Items: center;
}
.column-container h2 {
  font-family: 'Permanent Marker';
  /* font-family: 'Knewave' ; */
  margin:0;
}

.outside-column {
  margin-right:4vw;
  padding:5px, 0;
}

.inside-column{
  /* border-radius:15px; */
  padding: 0px;
  overflow-y: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  width: 35vw;
  font-size:20px;
}

.inside-column::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.days-container .inside-column{
  border-radius:10px;
  height:39vh;
  max-height: 40vh;
  width:37vw;
  padding:0
}

.activity-list .inside-column{
  /* background: linear-gradient(to left, #70adf2, #ff9472); */
  border-radius:10px;
  position:fixed;
  bottom:0;
  left:20vw;
  height: 34vh;
  margin-bottom:0;
  width:37vw;
  padding:0
}

.card {
  border-radius:5px;
  padding: 30px;
  margin: 0;
  min-width: 250px;
  height:13vh;
  color: white;
  text-align: center;
}
.item-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100%;
}
.item-name {
  text-align: center;
  line-height: 200%;
  max-height:100%;
  width:11vw;
  margin:0 40px;
  font-size: 20px;
  padding:0px 10px;
  border-radius:8px;
  background-color: #e0796b;
  background: linear-gradient(to left, #f2709c, #ff9472);
}


.item-time {
  text-align:center;
  margin:0;
  margin-right:15px;
  font-size:22px;

}

.item-price {
  /* position: absolute;;
  right:60px; */
  font-size:23px;
}

.item-delete {
  margin-left:20px;
  width:25px;
  height:25px;
  padding:0;
  text-align: center;
}

.item-delete  i {
  font-size:20px;
  width: 25px;
  text-align: center;
  font-weight: bold;
  padding-right:3px;
  padding-top:2px;
}
.add-list-container {
  width:60px;
  margin:auto;
}
.add-list {
  background-color: rgba(72, 90, 134, 0.3);
  border:0;
  border-radius:500px;
  margin:auto 0;
  margin-right:2vw;
  height:50px;
  width:50px;
  padding:0;
  min-width: 50px;
}

.add-list i {
  font-size: 35px;
  line-height: 45px;
}

.delete-list  {
  height:26px;
  width: 40px;
  text-align: center;
  line-height: 10px;
  padding:0
}

.delete-list .material-icons {
  font-size:21px;
}

.item-photo {
  border-radius: 5px;
  height: 8vh;
  width: 10vh;
}


.item-price {
  padding:2px 10px;
  border-radius:8px;
  /* background: linear-gradient(to left, #f2709c, #ff9472); */
}

body {
  font-family: "Montserrat", sans-serif;
}

.progress {
  background-color: rgba(240, 239, 239,0.3);
  border-radius: 10px;
  position: fixed;
  margin: 0;
  top:7.5vh;
  right: 2vw;
  height: 8vh;
  width:78vw;
}

.negative .progress-done {
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
  font-size:4.5vh;
}

.positive .progress-done {
  background: linear-gradient(to left, #70adf2, #72d7ff);
  box-shadow: 0 3px 3px -5px #70adf2, 0 2px 5px #72d7ff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
  font-size:4.5vh;
}

.g-map {
  position: fixed;
  right:2vw;
  bottom:0;
  width: 37vw;
  height: 34vh;
  border-radius:25px;
}

.form-section {
  /* background-color:#5F1A37 ; */
  /* background-image: url("https://www.biztrip.co.uk/wp-content/uploads/2017/05/Business-Travel-Header-Image.jpg");
  background-size: cover; */
  background: transparent;
 

  padding:30px;
  padding-top:90px;
 
  color:white;

  height: 100vh;
  width: 20vw;
  position: fixed;
  bottom:0;
  left:0;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.budget-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:20vw;
}

.input-budget {
  width:8vw;
  height: 4vh;
  margin-bottom: 13px;
}

.budget-button {
  background-color: #3f51b5;
  width:8vw;
  height:4vh;
  display: block;
  margin: auto;
  margin-top:20px;
}

.nav-header{
  /* background-color: black !important; */
  /* background-image: url("https://www.biztrip.co.uk/wp-content/uploads/2017/05/Business-Travel-Header-Image.jpg") !important;
  background-size: cover; */
  padding:0 !important;
  margin: auto;
  background: transparent !important;
  color:white !important;
  background-color: #476C9B !important;
  border-radius:0 !important;
}

.modal {
  height: 30vh;
  width: 50vw;
}

.length-error {
  color:red;
  font-size:12px;
}

.plus-minus {
  display: flex;
  justify-content: space-evenly;
  width:50%;
}