.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-1 {
  display: flex;
  overflow-x: auto;
  height: 100%; 
  max-width: 100vw;
  /* white-space: wrap; */
  /* padding-left:600px */
  margin:20px;
}

.container-2 {
  display: flex;
  flex-Direction: column;
  align-Items: center;
}

.container-3 {
  margin:8px
}

.container-4 {
  padding: 4px;
  width: 350px;
  min-height: 500px;
  overflow-y: auto;
  max-height: 500px;
}

.container-5 {
  padding: 16px;
  margin: 0 0 8px 0;
  min-width: 250px;
  min-height: 50px;
  color: white;
}

.activity-image {
  border-radius: 300px;
  height: 50px;
  width: 60px;
}

.add-list {
  margin-top:290px;
  border-radius:500px;
  margin-left: 30px;
  height:40px;
  width:50px;
  font-size: 40px;
  line-height: 0px;
  padding-bottom:7px;
}