.trip-main {
  background-image: url('https://raw.githubusercontent.com/sjs5953/keep-calm-and-travel-on/master/frontend/src/assets/img/wooden-houses-on-body-of-water.jpg');
  background-size: cover; 
}

.grid-container {
  background-color:#EAEBED;
  min-height: 30vh;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: space-between;
  padding:20px 50px;
}

.no-trips{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.buttons-container{
  display: flex;
  justify-content: space-around;
  width:110px;
  margin: auto 0;
}

#delete-button{
  width:45px;
  height:45px;
}
#edit-button{
  width:45px;
  height:45px;
}
.trip-item {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.edit-button:focus {
  outline: none !important;
}

.grid-itinerary {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.trip-name {
  font-size: 30px;
}

.trip-city {
  font-size: 20px;
}

.trip-country {
  font-size: 20px;
}

.trip-info {
  width: 266px;
  max-width: 266px;
}
