html {
  scroll-behavior: smooth;
  overflow: hidden;
}

.trips-main::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.grid-container {
  background-color:rgba(208, 209, 211, 0.8);
  min-height: 30vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: space-evenly;
  padding:0 50px;
  padding-top:20px;
  margin: 2px;
  /* border: 1px solid black; */
  height: 51vh;
  overflow: auto;
}



.no-trips{
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.buttons-container{
  display: flex;
  justify-content: space-around;
  width:110px;
  margin: auto 0;
}

#delete-button{
  width:45px;
  height:45px;
}
#edit-button{
  width:45px;
  height:45px;
}
.trip-item {
  display: flex;
  justify-content: space-between;
  /* margin: 25px 0; */
  padding: 5px;
}

.edit-button:focus {
  outline: none !important;
}

.trip-name {
  font-size: 28px;
  font-weight: bold;
}



.trip-country {
  font-size: 25x;
}

.trip-info {
  width: 266px;
  max-width: 266px;
}

.trip-destination {
  margin:0;
}

.itinerary-item {
  /* border: 1px solid grey; */
  /* border-radius:12px; */
  margin:20px 0;
  width:200%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
