.itinerary-main {
  background-image: url("https://raw.githubusercontent.com/sjs5953/keep-calm-and-travel-on/master/frontend/src/assets/img/temple-trees.jpg");
  background-size: cover;
}

.grid-activities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: transparent;
  border-right: transparent;
  

}

.grid-activities > span {
  display: flex;
  width: auto;
  padding: 8px 4px; 
  border-left: transparent;
  border-bottom: transparent;
  justify-content: center;
  align-items: center; 
}

.grid-headlines {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid black;
  border-right: transparent;
  overflow-y: hidden;
  overflow-x: auto;
}

.grid-headlines > span {
  display: flex;
  width: auto;
  padding: 8px 4px;
  border-left: transparent;
  border-bottom: transparent;
  justify-content: center;
  align-items: center;
}

.destination {
  display: flex;
  justify-content: center;
}
