.grid-activities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-activities > span {
  display: flex;
  width: auto;
  font-size: 20px;
  justify-content: center;
  align-items: center; 
}

.grid-headlines {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  overflow-y: hidden;
  overflow-x: auto;
  padding: 15px;
}

.grid-headlines > span {
  display: flex;
  width: auto;
  font-size: 21px;
  justify-content: center;
  align-items: center;
}

.destination {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid black; 
  padding: 0 0 3px 0;
}

.activities-container {
  height: 350px;
  overflow: auto;
}

#image {
  border: 1px solid black;
}
